header {
    background-image: url(../imagens/captainmarvelheader.jpg);
}
.title-catalogo {
    margin-top: 300px;
    margin-left: 210px;
}
.anuncio {
    display: inline-flex;
    width: 33%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 500;
}
.anuncio-image {
    width: 200px;
}
.anuncio-valor {
    margin-top: 5px;
    margin-right: auto;
}
