header {
    background-image: url(../imagens/contatoheader.jpg);
}
.title-contato {
    margin-top: 270px;
    margin-left: 200px;
}
.section-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.texto-contato {
    font-weight: 600;
    max-width: 35%;
    margin-bottom: 50px;
}
.form {
    width: 60%;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: (4 fr);
    grid-template-areas: ". area"
                        ". area"
                        ". area"
                     "botton botton";
    margin-bottom: 21%;
}
.input-texto {
    grid-area: area;
    margin: 8px;
    padding: 16px 16px;
    border-radius: 12px;
}
.botton-contato {
    grid-area: botton;
}
.input-form {
    width: 400px;
    padding: 20px;
    margin: 8px 8px;
    margin-right: 8px;
    border-radius: 20px;
}