.header {
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 30px;
    background-size: cover;
    aspect-ratio: 17/9;
    width: 100%;
}
.header-nav {
    display: flex;
}
.header-logo {
    height: 75%;
}
.header-navegation-item {
    display: inline-flex;
    padding: 10px;
    margin-left: 70px;
}
.navegation-item-link {
    text-decoration: none; 
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navegation-item-link:hover {
    text-underline-offset: 5px;
    text-decoration: underline 3px #fe7467;
}
.nevegation-link-effect {
    text-decoration: underline 3px #fe7467;
    text-underline-offset: 5px;
}
.title-header {
    width: 31%;
}