.botton-generic {
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffff;
    background: linear-gradient(#fe7467 25%, #fc3836);
}
.botton-home-catalogo {
    margin-top: 15px;
    padding: 15px;
    font-weight: 800;  
    width: 250px;
    text-align: center;
    border-radius: 12px;
}
.anuncio-botton {
    margin-top: 5px;
    padding: 5px 20px;
    font-weight: 700;
    width: 120px;
}
.botton-contato {
    padding: 20px;
    font-weight: 800;
}