.header{
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 17/9;
}
.nav-header {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-logo {
    margin: 20px;
    width: 200px;
}
ul li {
    display: inline-flex;
}
ul li a {
    text-decoration: none;
    margin-left: 80px;
    font-weight: 700;
    color: #ffff;
    font-size: 20px;
}
ul li a:hover {
    text-decoration: underline 3px #fe7467;
    text-underline-offset: 8px;
}
.effect-underline-fixed {
    text-decoration: underline 3px #fe7467;
    text-underline-offset: 8px;
}

@media screen and (max-width: 726px) {
    .header {
        background-size: cover;
        padding-bottom: 200px;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    ul li a {
        margin-left: 20px !important;
    }
    .nav-logo {
        margin-bottom: 10px !important;
        width: 150px !important;
    }
}
